* {
    box-sizing: border-box;
}
body {
    font-family: 'Noto Serif', serif;
    font-family: 'Sanchez', serif;
}
.menu-title {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}
.menu {
    overflow: hidden;
}
.dish {
    border: 2px solid black;
    height: auto;
    margin: 15px;
    background-color: rgb(252, 247, 240);
    position: relative;
}
h3 {
    float: right;
    width: 150px;
    margin: -1px;
    padding: 0 15px 0 15px;
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
#sushi
{
    background-color: rgb(139, 183, 244);
}
#beef{
    background-color: rgb(235, 106, 117);
    color: white;
}
#chicken
{
    background-color: rgb(227, 191, 82);
}
p {
    margin: 5px;
    margin-top: 25px;
    padding: 5px;
    font-size: 15px;
}

/********** Large devices only **********/
@media (min-width: 1304px) {
    .col-lg-3 {
      float: left;
      width: 31%;
      margin-top: 40px;
    }
  }
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 1300px) {
    .col-md-2, .col-md-3 {
      float: left;
      margin-top: 20px;
    }
    .col-md-2 {
      width: 45%;
    }
    .col-md-3 {
      width: 92.5%;
    }
  }